2.0 Data Understanding

2.1 Inspecting the dataset

2.2 Installing and importing required libraries and modules

In [105]:
# %pip install pyodbc  
# %pip install python-dotenv

import pandas as pd
import numpy as np
from  dotenv import dotenv_values
import pyodbc
import matplotlib.pyplot as plt
import seaborn as sns  

# Suppress all warnings
import warnings 
warnings.filterwarnings('ignore')

# set display options to view all columns
pd.set_option("display.max_columns",None)

2.3 Loading the datasets

# Connecting to train database 1: 

# Load environment variables from .env file into a dictionary:
# environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file:
# server = environment_variables.get("SERVER")
# database = environment_variables.get("DATABASE")
# username = environment_variables.get("USERNAME")
# password = environment_variables.get("PASSWORD")


# connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [2]:
# Loading train dataframe 1 as train_df1
train_df1 = pd.read_csv('Telco-churn-first-3000.csv')

In [3]:
train_df1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [4]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [43]:
# Checking for null values in train_df1
train_df1.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [ ]:
# Checking the percentage of missing values in train_df1
train_df1.isnull().sum()/len(train_df1)*100

customerID           0.000000
gender               0.000000
SeniorCitizen        0.000000
Partner              0.000000
Dependents           0.000000
tenure               0.000000
PhoneService         0.000000
MultipleLines        8.966667
InternetService      0.000000
OnlineSecurity      21.700000
OnlineBackup        21.700000
DeviceProtection    21.700000
TechSupport         21.700000
StreamingTV         21.700000
StreamingMovies     21.700000
Contract             0.000000
PaperlessBilling     0.000000
PaymentMethod        0.000000
MonthlyCharges       0.000000
TotalCharges         0.166667
Churn                0.033333
dtype: float64

In [49]:
# Checking for unique values in train_df1
train_df1.nunique()

customerID          3000
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          2
InternetService        3
OnlineSecurity         2
OnlineBackup           2
DeviceProtection       2
TechSupport            2
StreamingTV            2
StreamingMovies        2
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1198
TotalCharges        2893
Churn                  2
dtype: int64

In [6]:
# Checking for duplicates in train_df1
train_df1.duplicated().sum()

np.int64(0)

In [7]:
train_df1.shape

(3000, 21)

In [9]:
# Loading train dataframe 2 as train_df2
train_df2 = pd.read_csv('LP2_Telco-churn-second-2000.csv')

In [10]:
train_df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,No,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [50]:
# Checking info about train_df2
train_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [44]:
# Checking for null values in train_df2
train_df2.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [18]:
# Checking for unique values in train_df2
train_df2.nunique()

customerID          2043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1029
TotalCharges        1991
Churn                  2
dtype: int64

In [13]:
# Checking for duplicated values in train_df2
train_df2.duplicated().sum()

np.int64(0)

In [14]:
# Checking for the shape of train_df2
train_df2.shape

(2043, 21)

In [19]:
# Loading the test dataframe as test_df
test_df = pd.read_excel('Telco-churn-last-2000.xlsx')

In [21]:
test_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [51]:
# Checking for information in test_df
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [52]:
# Checking for null values in test_df
test_df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [53]:
# Checking for unique values in test_df
test_df.nunique()

customerID          2000
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges       986
TotalCharges        1930
dtype: int64

In [54]:
# Checking for duplicated values in test_df
test_df.duplicated().sum()

np.int64(0)

In [55]:
# Checking the shape of train_df2
test_df.shape

(2000, 20)

2.4 Exploring the data

In [26]:
# Understanding the data type and information in train_df1
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [92]:
# Describing train_df1
train_df1.describe()

            tenure  MonthlyCharges  TotalCharges
count  3000.000000     3000.000000   2995.000000
mean     32.527333       65.347400   2301.278315
std      24.637768       30.137053   2274.987884
min       0.000000       18.400000     18.799999
25%       9.000000       35.787499    415.250000
50%      29.000000       70.900002   1404.650024
75%      56.000000       90.262501   3868.725098
max      72.000000      118.650002   8564.750000

In [36]:
train_df1.describe(include='object').columns

Index(['customerID', 'gender', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod', 'Churn'],
      dtype='object')

In [37]:
train_df1.describe(include='number').columns

Index(['tenure', 'MonthlyCharges', 'TotalCharges'], dtype='object')

In [58]:
# Missing values (Nan) in train_df1
missing_values = train_df1.isnull()
print(missing_values)

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0          False   False          False    False       False   False
1          False   False          False    False       False   False
2          False   False          False    False       False   False
3          False   False          False    False       False   False
4          False   False          False    False       False   False
...          ...     ...            ...      ...         ...     ...
2995       False   False          False    False       False   False
2996       False   False          False    False       False   False
2997       False   False          False    False       False   False
2998       False   False          False    False       False   False
2999       False   False          False    False       False   False

      PhoneService  MultipleLines  InternetService  OnlineSecurity  \
0            False           True            False           False
1            False          False            False           False
2            False          False            False           False
3            False           True            False           False
4            False          False            False           False
...            ...            ...              ...             ...
2995         False           True            False           False
2996         False          False            False           False
2997         False          False            False           False
2998         False          False            False           False
2999         False          False            False            True

      OnlineBackup  DeviceProtection  TechSupport  StreamingTV  \
0            False             False        False        False
1            False             False        False        False
2            False             False        False        False
3            False             False        False        False
4            False             False        False        False
...            ...               ...          ...          ...
2995         False             False        False        False
2996         False             False        False        False
2997         False             False        False        False
2998         False             False        False        False
2999          True              True         True         True

      StreamingMovies  Contract  PaperlessBilling  PaymentMethod  \
0               False     False             False          False
1               False     False             False          False
2               False     False             False          False
3               False     False             False          False
4               False     False             False          False
...               ...       ...               ...            ...
2995            False     False             False          False
2996            False     False             False          False
2997            False     False             False          False
2998            False     False             False          False
2999             True     False             False          False

      MonthlyCharges  TotalCharges  Churn
0              False         False  False
1              False         False  False
2              False         False  False
3              False         False  False
4              False         False  False
...              ...           ...    ...
2995           False         False  False
2996           False         False  False
2997           False         False  False
2998           False         False  False
2999           False         False  False

[3000 rows x 21 columns]

In [29]:
# Understanding the data type and information in train_df2
train_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [91]:
# Describing train_df2
train_df2.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    2043.000000  2043.000000     2043.000000
mean        0.168380    32.649046       64.712555
std         0.374295    24.376248       29.970010
min         0.000000     0.000000       18.550000
25%         0.000000     9.000000       35.825000
50%         0.000000    30.000000       70.250000
75%         0.000000    55.000000       89.625000
max         1.000000    72.000000      118.350000

In [39]:
train_df2.describe(include='object').columns

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn'],
      dtype='object')

In [38]:
train_df2.describe(include='number').columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges'], dtype='object')

In [31]:
# Missing values (Nan) in train_df2
missing_values = train_df2.isnull()
print(missing_values)

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0          False   False          False    False       False   False
1          False   False          False    False       False   False
2          False   False          False    False       False   False
3          False   False          False    False       False   False
4          False   False          False    False       False   False
...          ...     ...            ...      ...         ...     ...
2038       False   False          False    False       False   False
2039       False   False          False    False       False   False
2040       False   False          False    False       False   False
2041       False   False          False    False       False   False
2042       False   False          False    False       False   False

      PhoneService  MultipleLines  InternetService  OnlineSecurity  \
0            False          False            False           False
1            False          False            False           False
2            False          False            False           False
3            False          False            False           False
4            False          False            False           False
...            ...            ...              ...             ...
2038         False          False            False           False
2039         False          False            False           False
2040         False          False            False           False
2041         False          False            False           False
2042         False          False            False           False

      OnlineBackup  DeviceProtection  TechSupport  StreamingTV  \
0            False             False        False        False
1            False             False        False        False
2            False             False        False        False
3            False             False        False        False
4            False             False        False        False
...            ...               ...          ...          ...
2038         False             False        False        False
2039         False             False        False        False
2040         False             False        False        False
2041         False             False        False        False
2042         False             False        False        False

      StreamingMovies  Contract  PaperlessBilling  PaymentMethod  \
0               False     False             False          False
1               False     False             False          False
2               False     False             False          False
3               False     False             False          False
4               False     False             False          False
...               ...       ...               ...            ...
2038            False     False             False          False
2039            False     False             False          False
2040            False     False             False          False
2041            False     False             False          False
2042            False     False             False          False

      MonthlyCharges  TotalCharges  Churn
0              False         False  False
1              False         False  False
2              False         False  False
3              False         False  False
4              False         False  False
...              ...           ...    ...
2038           False         False  False
2039           False         False  False
2040           False         False  False
2041           False         False  False
2042           False         False  False

[2043 rows x 21 columns]

In [66]:
# Understanding the data type and information in test_df
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [41]:
test_df.describe(include='number').columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges'], dtype='object')

In [42]:
test_df.describe(include='object').columns

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges'],
      dtype='object')

In [90]:
# Describing test_df
test_df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    2000.000000  2000.000000     2000.000000   1997.000000
mean        0.161500    31.853000       63.933325   2235.995093
std         0.368084    24.632677       30.136858   2259.794309
min         0.000000     0.000000       18.250000     18.900000
25%         0.000000     8.000000       34.250000    353.650000
50%         0.000000    27.000000       69.800000   1388.450000
75%         0.000000    55.000000       89.275000   3632.000000
max         1.000000    72.000000      118.750000   8684.800000

In [60]:
# Missing values (Nan) in test_df
missing_values = test_df.isnull()
print(missing_values)

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0          False   False          False    False       False   False
1          False   False          False    False       False   False
2          False   False          False    False       False   False
3          False   False          False    False       False   False
4          False   False          False    False       False   False
...          ...     ...            ...      ...         ...     ...
1995       False   False          False    False       False   False
1996       False   False          False    False       False   False
1997       False   False          False    False       False   False
1998       False   False          False    False       False   False
1999       False   False          False    False       False   False

      PhoneService  MultipleLines  InternetService  OnlineSecurity  \
0            False          False            False           False
1            False          False            False           False
2            False          False            False           False
3            False          False            False           False
4            False          False            False           False
...            ...            ...              ...             ...
1995         False          False            False           False
1996         False          False            False           False
1997         False          False            False           False
1998         False          False            False           False
1999         False          False            False           False

      OnlineBackup  DeviceProtection  TechSupport  StreamingTV  \
0            False             False        False        False
1            False             False        False        False
2            False             False        False        False
3            False             False        False        False
4            False             False        False        False
...            ...               ...          ...          ...
1995         False             False        False        False
1996         False             False        False        False
1997         False             False        False        False
1998         False             False        False        False
1999         False             False        False        False

      StreamingMovies  Contract  PaperlessBilling  PaymentMethod  \
0               False     False             False          False
1               False     False             False          False
2               False     False             False          False
3               False     False             False          False
4               False     False             False          False
...               ...       ...               ...            ...
1995            False     False             False          False
1996            False     False             False          False
1997            False     False             False          False
1998            False     False             False          False
1999            False     False             False          False

      MonthlyCharges  TotalCharges
0              False         False
1              False         False
2              False         False
3              False         False
4              False         False
...              ...           ...
1995           False         False
1996           False         False
1997           False         False
1998           False         False
1999           False         False

[2000 rows x 20 columns]

In [62]:
# Concatenating train_df1 and train_df2 as train_data list ignoring index
train_data = pd.concat([train_df1, train_df2], ignore_index=True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

In [63]:
# Viewing the shape of train_data
train_data.shape

(5043, 21)

In [93]:
# Checking for null values in train_data
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [73]:
#   Converting the data type for TotalCharges on both train_data and test_data
train_data['TotalCharges'] =pd.to_numeric( train_data['TotalCharges'],errors='coerce')
test_df['TotalCharges'] =pd.to_numeric( test_df['TotalCharges'],errors='coerce')

In [71]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5035 non-null   float64
 20  Churn             5042 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 827.5+ KB

In [72]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      1997 non-null   float64
dtypes: float64(2), int64(2), object(16)
memory usage: 312.6+ KB

Observation of the data sets

In [74]:
#Impute the missing values
#Drop the ones with the less missing values
#Check for outliers and standardize the data

In [76]:
#CHECK FOR UNIQUE VALUES    
# def unique_values(df): 
    
#     unique_summary = [] 

#     for columns in df.columns:
#         values = df[columns].unique()
#         count_values = len(values)

#         unique_summary.append([
#             "columns" : column,
#              "Unique_Values" : values,
#               "Count_of_Unique_Values" : count_values,])
#     usummary = pd.DataFrame(unique_summary)

#     return usummary
def unique_values(df): 
    unique_summary = []  # List to store summary for each column

    for column in df.columns:  # Loop through each column
        values = df[column].unique()  # Get unique values for the column
        count_values = len(values)  # Count the number of unique values

        # Append the summary as a dictionary
        unique_summary.append({
            "Column": column,
            "Unique_Values": values,
            "Count_of_Unique_Values": count_values
        })

    # Convert the list of dictionaries to a DataFrame for better display
    usummary = pd.DataFrame(unique_summary)

    return usummary

In [77]:
unique_values(train_data)

,Column,Unique_Values,Count_of_Unique_Values
0,customerID,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOC...",5043
1,gender,"[Female, Male]",2
2,SeniorCitizen,"[0, 1]",2
3,Partner,"[True, False, No, Yes]",4
4,Dependents,"[False, True, No, Yes]",4
5,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
6,PhoneService,"[False, True, Yes, No]",4
7,MultipleLines,"[nan, False, True, No, No phone service, Yes]",6
8,InternetService,"[DSL, Fiber optic, No]",3
9,OnlineSecurity,"[False, True, nan, No, Yes, No internet service]",6
10,OnlineBackup,"[True, False, nan, No, Yes, No internet service]",6
11,DeviceProtection,"[False, True, nan, No, Yes, No internet service]",6
12,TechSupport,"[False, True, nan, Yes, No, No internet service]",6
13,StreamingTV,"[False, True, nan, No, Yes, No internet service]",6
14,StreamingMovies,"[False, True, nan, No, Yes, No internet service]",6
15,Contract,"[Month-to-month, One year, Two year]",3
16,PaperlessBilling,"[True, False, Yes, No]",4
17,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4
18,MonthlyCharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
19,TotalCharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4864
20,Churn,"[False, True, nan, No, Yes]",5

In [78]:
# dropping the customerID column in the train_data
train_data.drop(columns = 'customerID', inplace=True)

# dropping the customerID column in the test_df
test_df.drop(columns = 'customerID', inplace=True)

In [79]:
train_data.head(4)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,True,False,1,False,NaN,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,Male,0,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,Male,0,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,Male,0,False,False,45,False,NaN,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False

In [80]:
test_df.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.80
2,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [84]:
# Converting to Yes and No

labels = train_data.select_dtypes(include=['object']).columns.tolist()
labels

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [86]:
# Converting to String

train_data[labels] = train_data[labels].astype(str)

In [87]:
# Adding a funtion to make the changes

change = {
    
    "No" : ["False", "0", "No phone service", "No internet service"],
    "Yes" : ["True","1"]
}

def correct_columns(train_data,labels,change):
    for columns_name in labels:
        for key,values in change.items():
            train_data[columns_name] = train_data[columns_name].replace(values, key)
    return train_data

train_data = correct_columns(train_data,labels,change)

In [88]:
# Verifying the changes
unique_values(train_data)

,Column,Unique_Values,Count_of_Unique_Values
0,gender,"[Female, Male]",2
1,SeniorCitizen,"[0, 1]",2
2,Partner,"[Yes, No]",2
3,Dependents,"[No, Yes]",2
4,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
5,PhoneService,"[No, Yes]",2
6,MultipleLines,"[nan, No, Yes]",3
7,InternetService,"[DSL, Fiber optic, No]",3
8,OnlineSecurity,"[No, Yes, nan]",3
9,OnlineBackup,"[Yes, No, nan]",3
10,DeviceProtection,"[No, Yes, nan]",3
11,TechSupport,"[No, Yes, nan]",3
12,StreamingTV,"[No, Yes, nan]",3
13,StreamingMovies,"[No, Yes, nan]",3
14,Contract,"[Month-to-month, One year, Two year]",3
15,PaperlessBilling,"[Yes, No]",2
16,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4
17,MonthlyCharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
18,TotalCharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4864
19,Churn,"[No, Yes, nan]",3

In [89]:
# Creating a list for numeric columns
numeric = train_data[["tenure", "TotalCharges", "MonthlyCharges"]]
numeric

      tenure  TotalCharges  MonthlyCharges
0          1     29.850000       29.850000
1         34   1889.500000       56.950001
2          2    108.150002       53.849998
3         45   1840.750000       42.299999
4          2    151.649994       70.699997
...      ...           ...             ...
5038      24   1990.500000       84.800000
5039      72   7362.900000      103.200000
5040      11    346.450000       29.600000
5041       4    306.600000       74.400000
5042      66   6844.500000      105.650000

[5043 rows x 3 columns]

In [94]:
train_data.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5043.000000  5043.000000     5043.000000   5035.000000
mean        0.162403    32.576641       65.090214   2302.062861
std         0.368857    24.529807       30.068133   2269.483576
min         0.000000     0.000000       18.400000     18.799999
25%         0.000000     9.000000       35.775000    417.675003
50%         0.000000    29.000000       70.550003   1401.150024
75%         0.000000    56.000000       90.050003   3862.000000
max         1.000000    72.000000      118.650002   8670.100000

In [95]:
# Checking information about train_data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   int64
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5035 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 788.1+ KB

In [96]:
# Checking for null values
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [97]:
# Changing senirorCitizen to string
train_data['SeniorCitizen'] = train_data['SeniorCitizen'].astype(str)
test_df['SeniorCitizen'] = test_df['SeniorCitizen'].astype(str)

In [98]:
# Confirming SenorCitizen changes to String in the train_data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5035 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(1), object(17)
memory usage: 788.1+ KB

In [103]:
# Confirming SenorCitizen changes to String in the test_df
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            2000 non-null   object
 1   SeniorCitizen     2000 non-null   object
 2   Partner           2000 non-null   object
 3   Dependents        2000 non-null   object
 4   tenure            2000 non-null   int64
 5   PhoneService      2000 non-null   object
 6   MultipleLines     2000 non-null   object
 7   InternetService   2000 non-null   object
 8   OnlineSecurity    2000 non-null   object
 9   OnlineBackup      2000 non-null   object
 10  DeviceProtection  2000 non-null   object
 11  TechSupport       2000 non-null   object
 12  StreamingTV       2000 non-null   object
 13  StreamingMovies   2000 non-null   object
 14  Contract          2000 non-null   object
 15  PaperlessBilling  2000 non-null   object
 16  PaymentMethod     2000 non-null   object
 17  MonthlyCharges    2000 non-null   float64
 18  TotalCharges      1997 non-null   float64
dtypes: float64(2), int64(1), object(16)
memory usage: 297.0+ KB

In [101]:
# Changing 'Churn' to Yes and No in the train_data
train_data.loc[2988, "Churn"] = "No"
train_data.loc[2988, "Churn"] = "Yes"

In [102]:
train_data.loc[2988, "Churn"]

'Yes'

In [104]:
train_data.describe()

            tenure  MonthlyCharges  TotalCharges
count  5043.000000     5043.000000   5035.000000
mean     32.576641       65.090214   2302.062861
std      24.529807       30.068133   2269.483576
min       0.000000       18.400000     18.799999
25%       9.000000       35.775000    417.675003
50%      29.000000       70.550003   1401.150024
75%      56.000000       90.050003   3862.000000
max      72.000000      118.650002   8670.100000

In [106]:
# Checking for missing values
train_data[train_data['TotalCharges'].isna()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,nan,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.549999,NaN,No
753,Male,0,No,Yes,0,Yes,No,No,nan,nan,nan,nan,nan,nan,Two year,No,Mailed check,20.250000,NaN,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.849998,NaN,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,nan,nan,nan,nan,nan,nan,Two year,No,Mailed check,25.750000,NaN,No
1340,Female,0,Yes,Yes,0,No,nan,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.049999,NaN,No
3218,Male,0,Yes,Yes,0,Yes,No,No,No,No,No,No,No,No,One year,Yes,Mailed check,19.700000,NaN,No
4670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.350000,NaN,No
4754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.900000,NaN,No

In [107]:
# Imputing missing values with nan.
categorical_columns = ['MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Churn']
 
for column in categorical_columns:

    train_data[column].replace("", np.nan, inplace=True)  
    train_data[column].replace("NaN", np.nan, inplace=True)  
    train_data[column].replace("nan", np.nan, inplace=True)

# Imputing missing values with most frequent value (mode)
    train_data[column].fillna(train_data[column].mode()[0], inplace=True)

In [109]:
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [110]:
# Imputing missing values for TOTALCHARGES  with 0 if tenure is 0 (NUMERIC COLUMNS)
train_data['TotalCharges'] = train_data.apply(lambda row: row['MonthlyCharges']
        if pd.isnull(row['TotalCharges']) and row['tenure'] == 0
        else row['TotalCharges'], axis=1)

In [108]:
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [111]:
# Imputing missing values with most frequent value (mode)
train_data['MultipleLines'].fillna(train_data['MultipleLines'].mode()[0], inplace=True)

In [112]:
train_data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
#train_data.loc[2988, "Churn"] = "No"

In [ ]:
#train_data.loc[2988, "Churn"]

In [ ]:
#test_df.isnull().sum()

In [5]:
# Imputing missing values for TOTALCHARGES  with 0 if tenure is 0 (NUMERIC COLUMNS)
test_df['TotalCharges'] = test_df.apply(lambda row: row['MonthlyCharges']
        if pd.isnull(row['TotalCharges']) and row['tenure'] == 0
        else row['TotalCharges'], axis=1)

NameError: name 'test_df' is not defined

In [4]:
# Checking for missing values in test_data
test_df.isnull().sum()

NameError: name 'test_df' is not defined

UNIVARIANTE ANALYSIS ON TRAIN_DATA

In [9]:
# Calculating the statistical values of NUMERIC COLUMNS in train_data
for col in numeric:
    skewness = round(numeric[col].skew(),2)
    kurtosis = round(numeric[col].kurt(),2)
    mean = round(numeric[col].mean(),2)
    median = round(numeric[col].median(),2)
    mode = round(numeric[col].mode()[0],2)

# Printing numeric column names and their corresponding statistical values
    print(f"Column: {col}")
    print(f"Skewness: {skewness}")
    print(f"Kurtosis: {kurtosis}")
    print(f"Mean: {mean}")
    print(f"Median: {median}")
    print(f"Mode: {mode}")
    print("-" * 40)

# UNIVARIATE ANALYSIS ON TRAIN_DATA
# set plot size

plt.figure(figsize=(20, 6))

sns.histplot(numeric[col],kde = True, color = 'red', edgecolor = 'black')
plt.axvline(mean, color='blue', linestyle='dashed', linewidth=2)
plt.axvline(median, color='green', linestyle='dashed', linewidth=2)
plt.axvline(mode, color='yellow', linestyle='dashed', linewidth=2)
plt.title(f"DISTRIBUTION OF {col}")
plt.xlabel(col)
plt.ylabel ("Count")
plt.legend()


# Create the plot
plt.figure(figsize=(10, 6))  # Set figure size
sns.boxplot(x=numeric[col], color='brown')

# Add vertical lines for mean, median, and mode
plt.axvline(mean, color='blue', linestyle='dashed', linewidth=2, label=f'Mean: {mean:.2f}')
plt.axvline(median, color='green', linestyle='dashed', linewidth=2, label=f'Median: {median:.2f}')
plt.axvline(mode, color='yellow', linestyle='dashed', linewidth=2, label=f'Mode: {mode:.2f}')

# Add title and labels
plt.title(f'Distribution of col', fontsize=16)
plt.xlabel('Values')

# Add legend to describe the lines
plt.legend()

# Show the plot
plt.show()

# Add Pear Correlation
sns.heatmap(numeric.corr(), annot=True, cmap='coolwarm')

# Add Pear Plot with numeric data
sns.pairplot(numeric)

NameError: name 'numeric' is not defined